html,
body {
  height: 100%;
}

body {
  align-items: center;
  font-size: 12px;
  padding: 35px 0;
  background-color: #f5f5f5;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.title {
  display: inline-block;
  padding-bottom: 50px;
}

.btn--logout {
  margin-top: 20px;
}

.welcome-panel {
  font-size: 14px;
  margin-bottom: 10px;
}

.alert-container {
  opacity: 0;
  transition: .4s all ease;
}

.alert-container.show {
  opacity: 1;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
    background-color: white;
    border: 1px solid #dcdada;
    border-radius: 3px;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.form-label-group {
  position: relative;
  margin-bottom: 10px;
}

.form-label-group > input,
.form-label-group > label {
  height: 40px;
  padding: 15px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 0.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* ---------------- messages -------------------------- */
.msg-panel {
  border-top: 1px solid #dcdada;
  bottom: 0;
  left: 0;
  height: 70%;
  position: fixed;
  width: 100%;
}

.msg-panel__bloc {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 20px;
  position: relative;
}

.msg-panel__bloc--contact {
  background: white;
  padding: 20px 0;
  width: 35%;
}

.msg-panel__bloc--msg {
  background: #eae8e8;
  width: 65%;
}

.msg-panel__bloc--contact h5 {
  padding-left: 20px;
}

.contact-list, .msg-list {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
}

.msg-list {
  height: 85%;
}

li.contact-list__item {
  padding: 10px 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dadada;
}

.contact-list__item:hover, .contact-list__item:focus {
  background: whitesmoke;
}

.contact-list__user {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

li.msg-list__item {
  padding: 5px 0;
}

.msg-list__item--odd {
  text-align: right;
}

.msg-list__name {
  display: block;
  font-size: 12px;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 0 10px 10px;
}

.msg-list__msg {
  background: #bdbfbf;
  border-radius: 15px;
  font-size: 13px;
  padding: 10px;
}

.msg-list__date {
  display: block;
  padding: 10px 10px 0;
}

.msg-list__item--odd .msg-list__msg {
  background: #007bff;
  color: white;
}

.msg-panel__form {
  margin: 25px 0 0;
}

.btn .fas {
  font-size: 18px;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #ced4da;
  background-color: white;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* ------------- input-group -------------- */
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append, .input-group-prepend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ------------- custome file --------------- */
.custom-file {
  position: relative;
  display: inline-block;
  height: 100%;
  margin-right: -1px;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  padding: 6px 12px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

