html,
body {
  height: 100%;
}

body {
  align-items: center;
  font-size: 12px;
  padding: 35px 0;
  background-color: #f5f5f5;
}

.title {
  display: inline-block;
  padding-bottom: 50px;
}

.btn--logout {
  margin-top: 20px;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
    background-color: white;
    border: 1px solid #dcdada;
    border-radius: 3px;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.form-label-group {
  position: relative;
  margin-bottom: 10px;
}

.form-label-group > input,
.form-label-group > label {
  height: 40px;
  padding: 15px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 0.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 15px;
  padding-bottom: 5px;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* ---------------- messages -------------------------- */
.msg-panel {
  border-top: 1px solid #dcdada;
  bottom: 0;
  left: 0;
  height: 70%;
  position: fixed;
  width: 100%;
}

.msg-panel__bloc {
  box-sizing: border-box;
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 20px;
  position: relative;
}

.msg-panel__bloc--contact {
  background: white;
  padding: 20px 0;
  width: 35%;
}

.msg-panel__bloc--msg {
  background: #eae8e8;
  width: 65%;
}

.contact-list, .msg-list {
  list-style-type: none;
  padding: 0;
}

li.contact-list__item {
  padding: 10px 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #dadada;
}

.contact-list__item:hover, .contact-list__item:focus {
  background: whitesmoke;
}

.contact-list__user {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

li.msg-list__item {
  padding: 5px 0;
}

.msg-list__item--odd {
  text-align: right;
}

.msg-list__name {
  display: block;
  font-size: 12px;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 0 10px 10px;
}

.msg-list__msg {
  background: #33afd4;
  border-radius: 15px;
  font-size: 13px;
  padding: 10px;
}
