<div class="welcome-panel">
    Bonjour <strong>{{ userConnected.name }}</strong> ! Bienvenu à votre chatbox.
</div>
<div id="alert-container">
    
</div>
<div class="msg-panel">
    <div class="msg-panel__bloc msg-panel__bloc--contact">
        <h5>Liste des connectés</h5>
        <ul class="contact-list">
            <li ng-repeat="user in usersConnected" class="contact-list__item">
                <span class="contact-list__user">{{user.name}}</span>
            </li>
        </ul>
    </div>
    <div class="msg-panel__bloc msg-panel__bloc--msg">
        <ul class="msg-list">
            <li ng-repeat="(id, msg) in messages" ng-class="userConnected.pseudo == msg.sender ? 'msg-list__item msg-list__item--odd' : 'msg-list__item'" id="msg_{{id}}">
                <span class="msg-list__name">{{messages[id-1].sender == msg.sender ? '' : userConnected.pseudo == msg.sender? 'moi' : msg.sender}}</span>
                <span class="msg-list__msg" ng-click="hideShowDate(id)">{{msg.message}}</span>
                <span class="msg-list__date hidden">{{msg.date | date:'HH:mm'}}</span>
            </li>
        </ul>
        <form class="bloc-editor" ng-submit="sendMail(userConnected)">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type your message here..." aria-label="message" ng-model="messageSent.msg">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="submit" ng-enter="sendMail(userConnected)">send</button>
                </div>
            </div>
        </form>
    </div>
</div>
